<div class="col-md-8 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Sign up</h2>
      </div>
      <div class="panel-body">
      	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="form-group">
				  	<%= f.label :email %><br />
				  	<%= f.email_field :email, autofocus: true, class: "form-control" %>
				  </div>

				  <div class="form-group">
				  	<%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
				    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
				  </div>

				  <div class="form-group">
				  	<%= f.label :password_confirmation %><br />
				    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
				  </div>

				  <div class="form-group">
				  	<%= f.submit "Sign up", class: "btn btn-primary" %>
				  </div>
				<% end %>

				<%= render "devise/shared/links" %>
      </div>
		</div>
	</div>
</div>