.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 New Pin
			.panel-body
				%strong.central Current Image
				%br/
				= image_tag @pin.image.url(:medium)

				= render 'form'